In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Prince\Desktop\DataRelated\messy_HR_data.csv")

In [3]:
df

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,david,NaN,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,hannah,35,SIXTY THOUSAND,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,eve,NaN,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,grace,NaN,NAN,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321
...,...,...,...,...,...,...,...,...,...,...
995,jack,50,65000,Female,HR,Manager,2020/02/20,F,NaN,098-765-4321
996,jack,thirty,50000,Male,Finance,Analyst,"April 5, 2018",C,NaN,555-555-5555
997,hannah,thirty,70000,Male,IT,Assistant,01/15/2020,D,user@domain.com,NaN
998,bob,25,65000,Other,Marketing,Manager,"April 5, 2018",D,email@example.com,NaN
999,ivy,thirty,SIXTY THOUSAND,Male,Finance,Manager,2020/02/20,C,user@domain.com,123-456-7890

In [4]:
# Strip leading and trailing spaces from string columns 
for column in df.select_dtypes(include=['object']).columns: 
    df[column] = df[column].str.strip()

In [5]:
# Correct the Age column 
df['Age'] = df['Age'].replace('thirty', 30) 
df['Age'] = pd.to_numeric(df['Age'], errors='coerce') 

# Fill NaN values in the Age column before converting to int
df['Age'] = df['Age'].fillna(0).round(0).astype(int)  # Remove decimals and convert to int

In [7]:
# Correct the Salary column 
df['Salary'] = df['Salary'].str.replace('SIXTY THOUSAND', '60000') 
df['Salary'] = df['Salary'].str.replace(' NAN ', 'NaN') 
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

In [9]:
 # Standardise the Joining Date column 
df['Joining Date'] = pd.to_datetime(df['Joining Date'], errors='coerce')

In [11]:
# Fill NaN values with a default value or strategy 
df['Age'].fillna(df['Age'].mean(), inplace=True) 
df['Salary'].fillna(df['Salary'].mean(), inplace=True) 
 
 # Fill NaN values for categorical columns 
df['Gender'].fillna('Unknown', inplace=True) 
df['Department'].fillna(df['Department'].mode()[0], inplace=True) 
df['Position'].fillna(df['Position'].mode()[0], inplace=True) 
df['Performance Score'].fillna('Unknown', inplace=True) 
df['Email'].fillna('no_email@example.com', inplace=True) 
df['Phone Number'].fillna('000-000-0000', inplace=True)

In [12]:
# Save the cleaned data to a new CSV file 
df.to_csv('cleaned_HR_data.csv', index=False)