In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Prince\Desktop\DataRelated\warehouse_messy_data.csv")

In [3]:
df

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,gadget y,ELECTRONICS,Warehouse 2,Aisle 1,300,9.99,Supplier C,In Stock,NaN
1,1435,gadget y,ELECTRONICS,Warehouse 2,Aisle 4,two hundred,19.99,Supplier C,Out of Stock,NaN
2,1860,widget a,CLOTHING,Warehouse 2,Aisle 3,100,19.99,Supplier B,In Stock,20/12/2022
3,1270,gadget z,TOYS,Warehouse 2,Aisle 4,50,49.99,Supplier B,In Stock,20/12/2022
4,1106,widget a,FURNITURE,Warehouse 3,Aisle 3,two hundred,9.99,Supplier D,Out of Stock,25/04/2023
...,...,...,...,...,...,...,...,...,...,...
995,1009,widget b,FURNITURE,Warehouse 2,Aisle 2,100,NaN,Supplier C,In Stock,15/01/2023
996,1823,gadget y,ELECTRONICS,Warehouse 2,Aisle 3,300,19.99,Supplier B,In Stock,20/12/2022
997,1797,gadget z,TOYS,Warehouse 3,Aisle 5,150,9.99,Supplier C,Low Stock,05/03/2023
998,1241,widget c,FURNITURE,Warehouse 2,Aisle 2,100,49.99,Supplier C,Low Stock,20/12/2022
999,1250,widget a,CLOTHING,Warehouse 1,Aisle 3,100,49.99,Supplier B,Out of Stock,20/12/2022

In [7]:
# Strip leading and trailing spaces from string columns 
for column in df.select_dtypes(include=['object']).columns:
    df[column] = df[column].str.strip()

In [8]:
# Convert Product Name to proper case 
df['Product Name'] = df['Product Name'].str.title() 

# Correct the Category column 
df['Category'] = df['Category'].str.capitalize()

In [9]:
# Correct the Quantity column 
df['Quantity'] = df['Quantity'].replace('two hundred', 200) # Replace 'two hundred' with 200 
df['Quantity'] = df['Quantity'].replace('NaN', np.nan) # Replace 'NaN' with np.nan 
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce') # Convert to numeric 

# Correct the Price column 
df['Price'] = df['Price'].replace('NaN', np.nan) # Replace 'NaN' with np.nan 
df['Price'] = pd.to_numeric(df['Price'], errors='coerce') # Convert to numeric 

# Correct the Last Restocked column 
df['Last Restocked'] = df['Last Restocked'].replace('NaN', np.nan) # Replace 'NaN' with np.nan 
df['Last Restocked'] = pd.to_datetime(df['Last Restocked'], errors='coerce') # Convert to datetime

C:\Users\Prince\AppData\Local\Temp\ipykernel_5680\2377758909.py:12: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Last Restocked'] = pd.to_datetime(df['Last Restocked'], errors='coerce') # Convert to datetime

In [11]:
# Fill NaN values with a default value or strategy, here we use mean for numeric columns 
df['Quantity'].fillna(df['Quantity'].mean(), inplace=True) 
df['Price'].fillna(df['Price'].mean(), inplace=True) 

# Fill NaN values for categorical columns with a placeholder or most frequent value 
df['Product Name'].fillna('Unknown Product', inplace=True) 
df['Category'].fillna('Unknown Category', inplace=True) 
df['Warehouse'].fillna(df['Warehouse'].mode()[0], inplace=True) 
df['Location'].fillna('Unknown Location', inplace=True) 
df['Supplier'].fillna(df['Supplier'].mode()[0], inplace=True) 
df['Status'].fillna(df['Status'].mode()[0], inplace=True) 
df['Last Restocked'].fillna(pd.to_datetime('today'), inplace=True)

In [12]:
# Save the cleaned data to a new CSV file 
df.to_csv('warehouse.csv', index=False)

In [13]:
df

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,Gadget Y,Electronics,Warehouse 2,Aisle 1,300.0,9.990000,Supplier C,In Stock,2024-08-26 13:35:07.798769
1,1435,Gadget Y,Electronics,Warehouse 2,Aisle 4,200.0,19.990000,Supplier C,Out of Stock,2024-08-26 13:35:07.798769
2,1860,Widget A,Clothing,Warehouse 2,Aisle 3,100.0,19.990000,Supplier B,In Stock,2022-12-20 00:00:00.000000
3,1270,Gadget Z,Toys,Warehouse 2,Aisle 4,50.0,49.990000,Supplier B,In Stock,2022-12-20 00:00:00.000000
4,1106,Widget A,Furniture,Warehouse 3,Aisle 3,200.0,9.990000,Supplier D,Out of Stock,2023-04-25 00:00:00.000000
...,...,...,...,...,...,...,...,...,...,...
995,1009,Widget B,Furniture,Warehouse 2,Aisle 2,100.0,28.085839,Supplier C,In Stock,2023-01-15 00:00:00.000000
996,1823,Gadget Y,Electronics,Warehouse 2,Aisle 3,300.0,19.990000,Supplier B,In Stock,2022-12-20 00:00:00.000000
997,1797,Gadget Z,Toys,Warehouse 3,Aisle 5,150.0,9.990000,Supplier C,Low Stock,2023-03-05 00:00:00.000000
998,1241,Widget C,Furniture,Warehouse 2,Aisle 2,100.0,49.990000,Supplier C,Low Stock,2022-12-20 00:00:00.000000
999,1250,Widget A,Clothing,Warehouse 1,Aisle 3,100.0,49.990000,Supplier B,Out of Stock,2022-12-20 00:00:00.000000